<div class="gallery-shortcode">
    {{/* Get the directory path from the 'dir' parameter. Defaults to "images/" if not provided. */}}
    {{ $path := .Get "dir" | default "images/" }}

    {{/* Find all resources matching the path pattern (e.g., "images/*") */}}
    {{ $resources := .Page.Resources.Match (printf "%s*" $path) }}

    {{/* Loop through the found resources */}}
    {{ range $element := $resources }}
        {{/* Check if the resource is an image */}}
        {{ if eq $element.ResourceType "image" }}
            {{/* Generate a thumbnail of 400px height */}}
            {{ $thumbnail := $element.Resize "x400" }}
            <input id="gallery" hidden disabled>
            <label for="gallery">
                <a href="{{ $element.RelPermalink }}" target="_blank" title="{{ $element.Title }}">
                    <img class="gallery" loading="lazy" decoding="async" src="{{ $thumbnail.RelPermalink }}" alt="{{ $element.Title | default $element.Name }}"/>
                </a>
            </label>
        {{ end }}
    {{ end }}
</div>
